.container-fluid {
    background-color: #704349;
}

.coffee_name {
    font-size: 30px;
    font-weight: 400;
    color: #D2A59B;
}

.coffee_roast {
    margin: .5em 1em;
    color: #FBD5AA;
}

h3 {
    text-align: center;
}

.py-2{
    color: #D2A59B;
}
label {
    font-weight: bold;
    color: #D2A59B;
}

.btn {
    background-color: #443730;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #704349;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
    background: #704349;
}

header {
    width: 100%;
    height: 100vh;
    background: url("img/the good one.gif") no-repeat 50% 50%;
    background-size: cover;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #B4604C;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

